<%= render 'layouts/banner' %>

<%= render 'layouts/searchbar' %>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
          <h2 class="text-primary font-bold">Mes événements</h2>
          <%= image_tag("svg/3colors.svg") %>
          <% if @events.blank? %>
            <p> Il n'y pas encore d'évènement</p>
          <% end %>
      </div>
    </div>

    <div class="row d-flex">
        <% @events.each do |event| %>
          <%= render partial: "event_card", locals: {event: event} %>
        <% end %>
    </div>
  </div>
</section>
