<section class="searchbar bg-blue" id="section-counter">
  <div class="container-fluid">
    <div class="row h-100">

      <div class="col-md-5 text-center text-md-left h-100">
        <div class="row h-100">
          <div class="col-md-1 my-auto">
            <div class=""><%= image_tag('svg/right_arrow.svg') %></div>
          </div>
          <div class="col-md-11 my-auto">
            <div class="text-white font-condensed text-uppercase font-20px">Accueil > liste des événements</div>
          </div>
        </div>
      </div>

      <div class="col-md-7 h-100">
        <form action="#" class="appointment">
          <div class="row h-100">

            <div class="col-md-5 my-auto">
              <div class="form-group mb-0">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0 bg-white no-border"><%= image_tag('svg/search.svg') %></span>
                  </div>
                  <input type="text" class="text-right form-control rounded-0" placeholder="Rechercher un événement">
                </div>
              </div>
            </div>

            <div class="col-md-3 my-auto">
              <div class="form-group mb-0">
                <select class="form-control rounded-0 bg-primary text-white">
                  <option selected>Ordre A-Z</option>
                  <option value="1">Ordre Z-A</option>
                </select>
              </div>
            </div>

            <div class="col-md-4 my-auto">
              <div class="form-group mb-0">
                <select class="form-control rounded-0 bg-primary text-white">
                  <option value="">Du plus récent au plus ancien</option>
                  <option value="">House Washing</option>
                  <option value="">Roof Cleaning</option>
                  <option value="">Driveway Cleaning</option>
                  <option value="">Gutter Cleaning</option>
                </select>
              </div>
            </div>

          </div>
        </form>
      </div>

    </div>
  </div>
</section>
