<section class="searchbar bg-blue" id="section-counter">
  <div class="container-fluid">
    <div class="row h-100">

      <div class="col-md-5 text-center text-md-left h-100">
        <div class="row h-100">
          <div class="col-md-1 my-auto">
            <div class=""><%= image_tag('svg/right_arrow.svg') %></div>
          </div>
          <div class="col-md-11 my-auto">
            <div class="text-white font-condensed text-uppercase font-20px">Accueil > liste des événements</div>
          </div>
        </div>
      </div>

      <div class="col-md-7 h-100">
        <form action="#" class="appointment">
          <div class="row h-100">
            <div class="col-md-5 my-auto">
              <div class="form-group mb-0 mb-0">
                <div class="input-wrap">
                  <div class="icon"><%= image_tag('svg/search.svg') %></div>
                  <input type="text" class="text-right form-control rounded-0" placeholder="Rechercher un événement">
                </div>
              </div>
            </div>
            <div class="col-md-2 my-auto">
              <div class="form-group mb-0">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon"><span class="fa fa-chevron-down"></span></div>
                    <select name="" id="" class="rounded-0 form-control bg-primary text-white text-right">
                      <option value="">Ordre A-Z</option>
                      <option value="">House Washing</option>
                      <option value="">Roof Cleaning</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 my-auto">
              <div class="form-group mb-0">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon"><span class="fa fa-chevron-down"></span></div>
                    <select name="" id="" class="form-control rounded-0 text-white bg-primary text-right">
                      <option value="">Du plus récent au plus ancien</option>
                      <option value="">House Washing</option>
                      <option value="">Roof Cleaning</option>
                      <option value="">Driveway Cleaning</option>
                      <option value="">Gutter Cleaning</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
