<section class="searchbar bg-blue" id="section-counter">
  <div class="container-fluid">
    <div class="row h-100">

      <div class="col-md-5 text-center text-md-left h-100">
        <div class="row h-100">
          <div class="col-md-1 my-auto">
            <div class=""><%= image_tag('svg/right_arrow.svg') %></div>
          </div>
          <div class="col-md-11 my-auto">
            <div class="text-white font-condensed text-uppercase font-20px">Accueil > liste des événements</div>
          </div>
        </div>
      </div>

      <div class="col-md-7 h-100">


<!-- form events freshstart -->
<div class="container"  style="margin-bottom:25px;">
  <div class="searchEventContainer">
    <% if has_filter_pict_home? %>
      <%= form_with(url: "/events/search_events", method: :post, remote: true, class:'navbar-form navbar-left searchEvent', autocomplete: 'off') do |form| %>
        <div class="form-group inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <%= form.text_field 'q', class: 'form-control searchEvent', placeholder: 'Ajouter un événement' %>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
<!-- END form events freshstart -->




      </div>

    </div>
  </div>
</section>
