<section class="searchbar" id="section-counter">
  <div class="container">
    <div class="row">

      <div class="col-md-6 mb-5 mb-md-0 text-center text-md-left">
        <div class="row h-100">
          <div class="col-md-1 my-auto">
            <div><%= image_tag('right_arrow.svg') %></div>
          </div>
          <div class="col-md-11 my-auto">
            <div class="text-white font-condensed text-uppercase font-20px">Accueil > liste des événements</div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">

          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="50">50</strong>
              </div>
              <div class="text">
                <span>Customer</span>
              </div>
            </div>
          </div>



        </div>
      </div>

    </div>
  </div>
</section>